<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome {{ title }}!
  </h1>
  <div>
    <h3>TEST ANDROID RUN TIME PERMISSION</h3>
    <hr>
    <div style="background-color: lightseagreen; padding: 20px;">
      <h4>ANDROID 6 MARSHMALLOW AND BEYONE</h4>
      <h5>minSdkVersion >= 23</h5>
      <h5>targetSdkVersion = 27</h5>
      <div>
        <div class="row" style="margin-bottom: 20px;">
            <button type="button" class="btn btn-primary btn-lg" (click)="readContact(1)">READ CONTACT</button>
        </div>
        <div class="row">
          <button type="button" class="btn btn-primary btn-lg" (click)="writeExtStorage(1)">WRITE EXTERNAL STORAGE</button>
        </div>
      </div>
    </div>
    <hr>
    <div style="background-color: orange; padding: 20px;">
      <h4>Contact Result</h4>
      <div class="row">
        permission granted: 
        <span *ngIf="permissionGranted" style="background-color:green;">{{permissionGranted}}</span> 
        <span *ngIf="!permissionGranted" style="background-color:red;">{{permissionGranted}}</span> 
        <div *ngIf="contacts.length > 0">
          contacts:
          <ol *ngFor="let contact of contacts">
            <li>ID: {{contact.contactID}} | name: {{contact.contactName}}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

